nav{
background-color: yellow;
overflow: hidden;
font-size: 1.1em; 
}
nav a{
display: block;
float: left;
color: black;
text-align: left;
padding: 14px 20px;	
text-decoration: none;
}
nav a:hover{
background-color: black;
color: yellow;
}